/* 
    room 
*/
.showroom {
    position: relative;
    height: 89%;
    width:  100%;
    opacity: 0.95;
    /* schuif verticaal als inhoud te groot wordt */
    overflow-y: auto;
    /* standaard behang is outer space kleur */
    background-color: #414A4C;
 }



