﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="" class="tile _14x1">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="" method="post">
        <header>
            <h2>Basiseenheid</h2>
            <div id="command-panel" class="command-panel">
                <a href="" class="tile">
                    <span class="icon-plus"></span>
                    <span class="screen-reader-text">Inserting</span>
                </a>

            </div>
        </header>
        <div class="list">
            <table></table>
        </div>
    </form>
</div>

